---
github:
    client_id: APP_CONFIG_GITHUB_CLIENT_ID
    client_secret: APP_CONFIG_GITHUB_CLIENT_SECRET

redis:
    host: APP_CONFIG_REDIS_HOST # localhost
    port: APP_CONFIG_REDIS_PORT # 6379
    db: APP_CONFIG_REDIS_DB # 0
    namespace: APP_CONFIG_REDIS_NAMESPACE # ghntfr

statsd:
  host: APP_CONFIG_STATSD_HOST # localhost
  port: APP_CONFIG_STATSD_PORT # 8125

mail:
    enabled: APP_CONFIG_MAIL_ENABLE # true
    method: APP_CONFIG_MAIL_METHOD # smtp
    from: APP_CONFIG_MAIL_FROM # Git Notifier <sender@email.com>
    host: APP_CONFIG_MAIL_HOST # smtp.example.org
    port: APP_CONFIG_MAIL_PORT # 587
    user: APP_CONFIG_MAIL_USER # someuser@somedomain.com
    password: APP_CONFIG_MAIL_PASSWORD # somepass
    ssl: APP_CONFIG_MAIL_SSL # true

domain: APP_CONFIG_DOMAIN # localhost:4567

secret: APP_CONFIG_SECRET # somesecret

notifications_type:
  - star
  - fork
  - follow
  - unfollow
  - deleted
  - site-news

notifications_frequency:
  - asap
  - daily
  - weekly

deploy_id: APP_CONFIG_DEPLOY_ID # 1

email_dev_on_signup: APP_CONFIG_EMAIL_DEV_ON_SIGNUP # false
dev_email_address: APP_CONFIG_DEV_EMAIL_ADDRESS # some@email.com
