<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="alert">
							Git Notifier
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block greetings">
                    Hello <%= username %>!<br />
                    Thank you for signing up, you're wonderful :)
                  </td>
                </tr>
								<tr>
									<td class="content-block">
                    Before you can start receiving GitHub notifications you need to confirm your email address.
									</td>
								</tr>
                <tr>
									<td class="content-block">
                    Please confirm your email address by clicking the link below.
									</td>
								</tr>
                <tr>
                  <td class="content-block">
                    If you have any questions feel free to reach out by replying to this email or by tweeting us, you can find the link at the bottom of this email.
                  </td>
                </tr>
								<tr>
									<td class="content-block centered action-button">
										<a href="<%= confirm_link %>" class="btn-primary">Confirm email address</a>
									</td>
								</tr>
                <tr>
									<td class="content-block signature">
										Thanks!<br />
                    - The Git Notifier Team
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">
                Follow <a href="https://twitter.com/GitNotifier">@GitNotifier</a> on Twitter.
              </td>
						</tr>
					</table>
				</div>
      </div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
